In [4]:
import sqlite3
import pandas as pd

In [ ]:
conn = sqlite3.connect('database.sqlite')

In [22]:
data = pd.read_sql_query("""
SELECT match_api_id, league_id,
        season, stage, date,
        home_team_api_id,
        away_team_api_id,
        home_team_goal,
        away_team_goal
    FROM Match
    WHERE season == '2008/2009' AND league_id == 1
    ORDER BY stage
""", conn)

In [23]:
print(data)

     match_api_id  league_id     season  stage                 date  \
0          492473          1  2008/2009      1  2008-08-17 00:00:00
1          492474          1  2008/2009      1  2008-08-16 00:00:00
2          492475          1  2008/2009      1  2008-08-16 00:00:00
3          492476          1  2008/2009      1  2008-08-17 00:00:00
4          492477          1  2008/2009      1  2008-08-16 00:00:00
5          492478          1  2008/2009      1  2008-09-24 00:00:00
6          492479          1  2008/2009      1  2008-08-16 00:00:00
7          492480          1  2008/2009      1  2008-08-16 00:00:00
8          492481          1  2008/2009      1  2008-08-16 00:00:00
9          492482          1  2008/2009      2  2008-10-29 00:00:00
10         492483          1  2008/2009      2  2008-08-23 00:00:00
11         492484          1  2008/2009      2  2008-08-23 00:00:00
12         492485          1  2008/2009      2  2008-08-24 00:00:00
13         492486          1  2008/2009      2  2008-08-23 00:00:00
14         492487          1  2008/2009      2  2008-08-23 00:00:00
15         492488          1  2008/2009      2  2008-08-23 00:00:00
16         492489          1  2008/2009      2  2008-08-23 00:00:00
17         492490          1  2008/2009      2  2008-08-23 00:00:00
18         492491          1  2008/2009      3  2008-08-30 00:00:00
19         492492          1  2008/2009      3  2008-08-30 00:00:00
20         492493          1  2008/2009      3  2008-08-30 00:00:00
21         492494          1  2008/2009      3  2008-08-31 00:00:00
22         492495          1  2008/2009      3  2008-08-30 00:00:00
23         492496          1  2008/2009      3  2008-08-30 00:00:00
24         492497          1  2008/2009      3  2008-08-31 00:00:00
25         492498          1  2008/2009      3  2008-08-29 00:00:00
26         492499          1  2008/2009      3  2008-08-30 00:00:00
27         492500          1  2008/2009      4  2008-09-13 00:00:00
28         492501          1  2008/2009      4  2008-09-13 00:00:00
29         492502          1  2008/2009      4  2008-09-13 00:00:00
..            ...        ...        ...    ...                  ...
276        493085          1  2008/2009     31  2009-04-25 00:00:00
277        493086          1  2008/2009     31  2009-04-25 00:00:00
278        493087          1  2008/2009     31  2009-04-25 00:00:00
279        493088          1  2008/2009     32  2009-05-03 00:00:00
280        493089          1  2008/2009     32  2009-05-02 00:00:00
281        493090          1  2008/2009     32  2009-05-02 00:00:00
282        493091          1  2008/2009     32  2009-05-02 00:00:00
283        493092          1  2008/2009     32  2009-05-02 00:00:00
284        493093          1  2008/2009     32  2009-05-01 00:00:00
285        493094          1  2008/2009     32  2009-05-02 00:00:00
286        493095          1  2008/2009     32  2009-05-03 00:00:00
287        493096          1  2008/2009     32  2009-05-02 00:00:00
288        493097          1  2008/2009     33  2009-05-09 00:00:00
289        493098          1  2008/2009     33  2009-05-09 00:00:00
290        493099          1  2008/2009     33  2009-05-09 00:00:00
291        493100          1  2008/2009     33  2009-05-09 00:00:00
292        493101          1  2008/2009     33  2009-05-09 00:00:00
293        493102          1  2008/2009     33  2009-05-08 00:00:00
294        493103          1  2008/2009     33  2009-05-09 00:00:00
295        493104          1  2008/2009     33  2009-05-09 00:00:00
296        493105          1  2008/2009     33  2009-05-09 00:00:00
297        493106          1  2008/2009     34  2009-05-16 00:00:00
298        493107          1  2008/2009     34  2009-05-16 00:00:00
299        493108          1  2008/2009     34  2009-05-16 00:00:00
300        493109          1  2008/2009     34  2009-05-16 00:00:00
301        493110          1  2008/2009     34  2009-05-16 00:00:00
302        493111          1  2008/2009     34  2009-05-15 00:00:00
303        493112          1  2008/2009     34  2009-05-16 00:00:00
304        493113          1  2008/2009     34  2009-05-16 00:00:00
305        493114          1  2008/2009     34  2009-05-16 00:00:00

     home_team_api_id  away_team_api_id  home_team_goal  away_team_goal
0                9987              9993               1               1
1               10000              9994               0               0
2                9984              8635               0               3
3                9991              9998               5               0
4                7947              9985               1               3
5                8203              8342               1               1
6                9999              8571               2               2
7                4049              9996               1               2
8               10001              9986               1               0
9                8342             10000               2               0
10               8635              9991               2               2
11               9985             10001               3               0
12               9998              9987               3               1
13               9986              9999               1               0
14               9994              4049               4               1
15               9996              8203               3               1
16               8571              9984               2               1
17               9993              7947               1               1
18               8635              8571               4               0
19               9987              9994               1               0
20               9984              9998               2               1
21               9991              9986               2               0
22               7947              9996               1               2
23               8203             10000               0               2
24               9999              9985               1               1
25               4049              8342               1               4
26              10001              9993               1               0
27               8342              7947               1               1
28               9985              8571               2               0
29               9998              8635               1               2
..                ...               ...             ...             ...
276              9994              9996               3               0
277              8571              4049               2               2
278              9998             10001               0               2
279              4049              8635               1               1
280             10000              9985               0               0
281              7947              9998               0               0
282              8203              9986               2               1
283              9991              9984               2               1
284              8342              9994               2               3
285             10001              9999               1               0
286              9987              8571               0               1
287              9996              9993               3               1
288              9985              8342               2               0
289              9986              9987               3               0
290              9996             10000               0               2
291              8571              9991               0               2
292              9994              7947               0               2
293              9993              8203               3               1
294              8635              9999               3               1
295              9998              4049               1               1
296              9984             10001               2               1
297              9987              8635               0               2
298              9991              9985               0               1
299             10000              9998               3               0
300              7947              9986               1               2
301              9999              9984               1               2
302              8203              9994               3               0
303              8342              9996               4               1
304             10001              8571               1               3
305              4049              9993               1               0

[306 rows x 9 columns]

In [47]:
team = {}
for row in conn.execute("""
    SELECT team
    FROM (
        SELECT home_team_api_id as team
        FROM Match
        WHERE season == '2008/2009' AND league_id == 1
        UNION
        SELECT away_team_api_id as team
        FROM Match
        WHERE season == '2008/2009' AND league_id == 1
    ) team
"""):
    team[row[0]] = 0

In [49]:
print(team)

{4049: 0, 7947: 0, 8203: 0, 8342: 0, 8571: 0, 8635: 0, 9984: 0, 9985: 0, 9986: 0, 9987: 0, 9991: 0, 9993: 0, 9994: 0, 9996: 0, 9998: 0, 9999: 0, 10000: 0, 10001: 0}

In [146]:
train = data[data['stage'] < 30]
predict = data[data['stage'] >= 30]

In [147]:
def calculate_G(home, away):
    dif = abs(home - away)
    if dif == 0 or dif == 1:
        return 1
    elif dif == 2:
        return 1.5
    else:
        return (11 + dif) / 8


def calculate_W(first, second):
    dif = team[first] - team[second]
    return 1 / (10 ** (-dif / float(sum(team.values())) / len(team)) + 1)

def train_rating(row):
    G = calculate_G(row['home_team_goal'], row['away_team_goal'])
    if row['home_team_goal'] == row['away_team_goal']:
        team[row['home_team_api_id']] += G * (0.5 - calculate_W(row['home_team_api_id'], row['away_team_api_id']))
        team[row['away_team_api_id']] += G * (0.5 - calculate_W(row['away_team_api_id'], row['home_team_api_id']))  
    elif row['home_team_goal'] > row['away_team_goal']:
        team[row['home_team_api_id']] += G * (1 - calculate_W(row['home_team_api_id'], row['away_team_api_id']))
        team[row['away_team_api_id']] += G * (0 - calculate_W(row['away_team_api_id'], row['home_team_api_id']))
    else:
        team[row['away_team_api_id']] += G * (1 - calculate_W(row['away_team_api_id'], row['home_team_api_id']))
        team[row['home_team_api_id']] += G * (0 - calculate_W(row['home_team_api_id'], row['away_team_api_id']))

In [148]:
for _, row in train.iterrows():
   train_rating(row)

In [149]:
print(team)

{4049: -96.18352793802246, 7947: -10.153291007757094, 8203: 30.118115536218042, 8342: 68.589384452268, 8571: -30.739432712122053, 8635: 198.97976399205754, 9984: 8.86333990295979, 9985: 188.94403960774173, 9986: 26.450956130965366, 9987: 24.342906826304528, 9991: 120.7919300900258, 9993: 29.9017485446415, 9994: 62.52084088221111, 9996: 3.794302609388759, 9998: -98.65398464553334, 9999: -44.10570711496464, 10000: 99.79866771047617, 10001: 46.87315207150086}

In [150]:
accuracy = [0, 0]
for _, row in predict.iterrows():
    delta = 0.1 * float(sum(team.values())) / len(team)
    
    if abs(team[row['home_team_api_id']] - team[row['away_team_api_id']]) < delta:
        if row['home_team_goal'] == row['away_team_goal']:
            accuracy[0] += 1
        else:
            accuracy[1] += 1
    elif row['home_team_goal'] == row['away_team_goal']:
            accuracy[1] += 1        
    elif row['home_team_goal'] > row['away_team_goal'] and team[row['home_team_api_id']] > team[row['away_team_api_id']]:
        accuracy[0] += 1
    elif row['home_team_goal'] < row['away_team_goal'] and team[row['home_team_api_id']] < team[row['away_team_api_id']]:
        accuracy[0] += 1
    else:
        accuracy[1] += 1
    
    train_rating(row)

In [151]:
print(accuracy)
print(accuracy[0] / (accuracy[0] + accuracy[1]))

[24, 21]
0.5333333333333333

In [96]:
print(team)

{4049: 7.811273927991962, 7947: 17.916669949444618, 8203: 23.595843101927073, 8342: 52.50419199330039, 8571: 22.15430195443111, 8635: 80.6161245881535, 9984: 33.44694996628317, 9985: 70.65814188137522, 9986: 24.149429977215057, 9987: 42.970663870977326, 9991: 50.958887980931394, 9993: 31.512352186516686, 9994: 39.7386130634657, 9996: 32.3740942883896, 9998: 8.048955648278035, 9999: 8.622391867443971, 10000: 47.97023252599953, 10001: 34.99770368998034}